/* .container{
    height: 30%;
    width: 40%;
    top: 50%;
    left: 50%;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    min-width: 450px;
    max-width: 100px;
    border-radius: 10px;
    transform: translate(-50%,-50%);
} */
body{
    height: 100vh;
    background-color: royalblue;
}
#newtask{
    position: relative;
    padding: 30px 20px;
}
#newtask button{
    position: relative;
    font-size: 16px;
    width: 20%;
    height: 45px;
    border-radius: 5px;
}
#newtask input{
    width: 40%;
    height: 25px;
    padding: 12px;
    color: black;
    position: relative;
    font-size: 20px;
    border-radius: 10px;
}
#tasks{
    border-radius: 10px;
    width: 40%;;
    position: relative;
    background-color: #ffffffff;
    padding: 20px 20px;
    margin-top: 20px;
    justify-content: space-between;
}
.task{
    padding: 20px 20px;
    font-size: 25px;
}
.task button{
    background-color: blue;
    color: white;
    cursor: pointer;

    float: right;
}
